.admin-container {
    margin-top: 2rem;
}


.admin-row{
    background-color: rgba(128,128,128,0.1);
    box-shadow:
            2px 0 0 0 red,
            0 2px 0 0 cyan;
    padding: 1.25rem;
    margin: 1rem;
}


.admin-form-control {
    border-radius: 0 !important;
    /*font-style: italic !important;*/
    font-size: large !important;
    background: transparent !important;
    border-top: transparent !important;
    border-left-color: red !important;
    border-right: transparent !important;
    border-bottom-color: cyan !important;
    /*color:  #ffffff !important;*/
    border-bottom-width: 2px !important;
}


.admin-form-control:focus {
    box-shadow: none !important;
}


.admin-maincard{
    background-color: rgba(255,255,255,0.7) !important; /* Black w/opacity/see-through */
    color: black;
    font-size: large !important;
    margin-bottom: 5rem;
}


.admin-cardlink{
    color: darkcyan;
}


.admin-cardlink:hover{
    color: red;
    text-decoration: none;
}



.admin-button-submit{
    font-size: large !important;
    background-color: cadetblue !important;
    padding: 0.5rem 1rem !important;
    border: none !important;
    color: navajowhite !important;
}


.admin-button-submit:hover{
    color: white !important;
    box-shadow:
            0 0 0 2px darkslateblue;
    border-radius: 5px;
}



.admin-button-update{
    font-size: large !important;
    background-color: darkgoldenrod !important;
    padding: 0.5rem 1rem !important;
    border: none !important;
    color: navajowhite !important;
}


.admin-button-update:hover{
    color: white !important;
    box-shadow:
            0 0 0 2px saddlebrown;
    border-radius: 5px;
}


.admin-button-delete{
    font-size: large !important;
    background-color: lightcoral !important;
    padding: 0.5rem 1rem !important;
    border: none !important;
    color: navajowhite !important;
}


.admin-button-delete:hover{
    color: white !important;
    box-shadow:
            0 0 0 2px red;
    border-radius: 5px;
}


::-webkit-file-upload-button {
    background-color: transparent !important;
    padding: 0.5rem 1rem !important;
    border: none !important;
    color: darkcyan !important;
    margin-right: 1rem !important;
}

::-webkit-file-upload-button:hover {
    color: darkcyan !important;
    padding: 0.5rem 1rem !important;
    box-shadow:
            0 0 0 2px red,
            0 0 0 4px cyan;
    border-radius: 5px;
}

input{
    color: darkred !important;
}
