.i-footer {
    background-color: rgba(128,128,128,0.1);
    box-shadow:
            0 0 0 2px red,
            0 0 0 4px cyan;
    color: darkcyan;
}

.i-footer-link {
    color: darkcyan;
}

.i-footer-link:hover {
    color: darkred;
    text-decoration: none;
}
