
.home-maincard{
    background-color: rgba(0,0,0,0.7) !important; /* Black w/opacity/see-through */
    color: white;
    border-color: brown !important;
}

.home-cardlink{
    color: burlywood;
}

.home-cardlink:hover{
    color: wheat;
}
